.panda-bg-info{
    background-color: #e8fcf8;
}
.categories img{
    width: 80px;
}
.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #468fca 0%, #0d89fd 100%);
    color: lightgrey;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
